---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, categories } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: 100%;
				max-width: 100%;
				margin: 0;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 1em);
				margin: auto;
				padding: 1em;
				color: var(--gray-dark);
			}
			.title {
				line-height: 1;
			}
			.title h1 {
				font-size: 2em;
				margin-bottom: 0px;
			}
			.date .pubdate{
				margin-bottom: 0.5em;
				color: var(--gray);
				font-size: 1rem;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				
				<div class="prose">
					<div class="container d-flex gap-3 align-items-end p-0 mb-3">
						<div class="col-2 hero-image">
							{heroImage && <Image width={256} src={heroImage} alt="" />}
						</div>
						<div class="col-10 title">
							<div class="date">
								<div class="pubdate">
									<FormattedDate date={pubDate} />
								</div>
								<h1>{title}</h1>
							</div>
							
						</div>
					</div>
					<slot />
					<div class="categories">
						{categories && categories.length > 0 && (
							<div>
								{categories.map((category,) => (
									<button class="btn btn-light me-2 border border-secondary-subtle border-2">
										{category}
									</button>
								))}
							</div>
						)}
					</div>
				</div>
				
			</article>
		</main>
		<Footer />
	</body>
</html>
